@mixin full-width($padding: false) {
    @if $padding {
        width: 100%;
        padding-inline: app(padding);
    } @else {
        width: calc(100% - #{app(padding) * 2});
        margin-inline: auto;
    }
}
