@mixin full-width($padding: false) {
    @if $padding {
        width: 100%;
        padding-inline: app(padding);
    } @else {
        width: calc(100% - #{app(padding) * 2});
        margin-inline: auto;
    }
}

@mixin wide-background {
    box-shadow: 0 0 0 100vmax #{var(--background-color, color(black))}, inset 0 0 0 100vmax var(--background-color, #{color(black)});
    clip-path: inset(0 -100vmax);
}
