.splash-screen-enter-active,
.splash-screen-leave-active {
  //transition-delay: 1s;
  transition-duration: 2s;
  transition-property: opacity;
}

.splash-screen-enter-from,
.splash-screen-leave-to {
  opacity: 0;
}
